.text-white {
  color: #fff;
}

.text-gray {
  color: #bbb;
}

.text-orange {
  color: #f60;
}

.text-bold {
  font-weight: bold;
}

.text-large { font-size: large; }
.text-xlarge { font-size: x-large; }
.text-xxlarge { font-size: xx-large; }
.text-small { font-size: small; }
.text-xsmall { font-size: x-small; }
.text-xxsmall { font-size: xx-small; }

.pull-left {
  float:left;
}
.pull-right {
  float:right;
}

.width-10 { width: 10% !important; }
.width-20 { width: 20% !important; }
.width-30 { width: 30% !important; }
.width-40 { width: 40% !important; }
.width-50 { width: 50% !important; }
.width-60 { width: 60% !important; }
.width-70 { width: 70% !important; }
.width-80 { width: 80% !important; }
.width-90 { width: 90% !important; }
.width-100 { width: 100% !important; }

.vspace-10 { margin-top: 10px; }
.vspace-20 { margin-top: 20px; }
.vspace-30 { margin-top: 30px; }
.vspace-40 { margin-top: 40px; }
.vspace-50 { margin-top: 50px; }
.vspace-60 { margin-top: 60px; }
.vspace-70 { margin-top: 70px; }
.vspace-80 { margin-top: 80px; }
.vspace-90 { margin-top: 90px; }
.hspace-10 { margin-left: 10px; }
.hspace-20 { margin-left: 20px; }
.hspace-30 { margin-left: 30px; }
.hspace-40 { margin-left: 40px; }
.hspace-50 { margin-left: 50px; }
.hspace-60 { margin-left: 60px; }
.hspace-70 { margin-left: 70px; }
.hspace-80 { margin-left: 80px; }
.hspace-90 { margin-left: 90px; }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#xmrto-lens-modal {
  display: none;
  text-align: left;
  font-size: medium;
  padding:0;
  position: relative;
  overflow: visible;
  color:#aaa;
  background: #3B3B3B;
}

.xmrto-panel-header {
  border-bottom:1px solid #000;
  box-shadow: 0 1px 0 rgba(255,255,255,.2);
  padding:10px 20px;
  font-size:15px;
  overflow: hidden;
}

.xmrto-panel-header .xmrto-min-limit {
  padding-right: 10px;
}

.xmrto-panel-body {
  padding:20px 20px 12px 20px;
  background: #4C4C4C;
}

.xmrto-form-control {
  border-radius: 4px;
  border:0;
  padding:12px 10px;
  background: #fff;
  box-sizing: border-box;
}

.xmrto-panel-body .xmrto-address {
  margin-left: 75px;
  width: 70% !important;
}

.xmrto-panel-body .xmrto-estimation-time {
  margin-left: 160px;
  margin-top: 15px;
  font-size: 14px;
  white-space: nowrap;
}

.xmrto-panel-body .xmrto-amount {
  margin-left: 30px;
  width: 35% !important;
}

#xmrto-lens-modal button {
  border-radius: 4px;
  border:0;
  background: #f60;
  color:#fff;
  font-size: 15px;
  padding: 12px 15px;
  box-sizing: border-box;
}

#xmrto-qrcode img {
  text-align: center;
  margin: 10px auto 0 auto;
  padding:5px;
  background: #fff;
  border-radius: 4px;
}

.xmrto-status-outer {
  display: block;
  background: #3B3B3B;
  padding:20px;
  margin-top:20px;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  overflow: hidden;
}

#xmrto-lens-modal .xmrto-success {
  padding:20px;
  border:0;
}

.ui-widget-content.xmrto-dialog {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	box-shadow: 0 0 30px 2px rgba(0,0,0,.4);
}

.ui-widget-content.xmrto-dialog {
	padding:0 !important;
	border:0;
	background: #3B3B3B;
}
.xmrto-dialog .ui-dialog-buttonpane.ui-widget-content { 
	background: #3B3B3B;
	border:0;
	border-radius: 0 0 4px 4px;
	margin-top:0;
}

.xmrto-dialog .ui-dialog-titlebar.ui-widget-header {
	background: #fff;
	border-radius: 4px 4px 0px 0px;
	border:0;
	padding:10px 20px 10px 68px;
	position: relative;
}
.xmrto-dialog .ui-dialog-titlebar.ui-widget-header:before {
	content:"";
	background: transparent url("chrome-extension://__MSG_@@extension_id__/38x38_1.png") no-repeat center right;
	width:38px;
	height:38px;
	position: absolute;
	left:20px;
	top:4px;
}

.spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center;
  margin-top:3px;
  display: inline-block;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #a62;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.stagenet-label {
  display: none;
  color: #ff3f00;
  font-size: 14px;
  margin-left: 160px;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
